{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenWrench Buyer API",
    "version": "1.0.0",
    "description": "External REST API for OpenWrench buyers (facilities-management side). Generated from the application source (Play routes, controllers and models).\n\n## Authentication\nEvery request must carry a buyer API key in the `X-API-KEY` header. The key resolves to a buyer contact, and all reads/writes are tenant-scoped to that contact's buyer company (plus, on several endpoints, role-based location/brand restrictions). Endpoints under `/v1/buyer/super_admin/...` (and a few others noted per-operation) additionally require the key's contact to be a buyer super admin.\n\n## Rate limiting\n10 requests per 20-second window per API key; requests beyond that receive **429**. A handful of operations noted per-operation bypass the rate limiter.\n\n## Response envelope\nSingle-entity responses: `{ \"type\": \"<EntityName>\", \"data\": { ... }, \"status\": \"ok\" }`.\nList responses: `{ \"type\": \"<EntityName>\", \"data\": [ ... ], \"count\": <total>, \"status\": \"ok\" }`.\ncount_by responses: `{ \"type\": \"CountBy\", \"data\": <integer>, \"status\": \"ok\" }`.\nErrors: `{ \"message\": \"...\", \"type\": \"<ExceptionType>\", \"status\": \"error\", \"traceId\": \"...\" }` \u2014 401 missing/invalid key, 400 bad input, 404 not found, 429 rate limit.\n\n## Pagination & filtering\nList endpoints accept `offset`, `limit` (default 10, max 25 \u2014 the locations list clamps to 10), `sort_by` and `order` (asc|desc). Every other query parameter is treated as a filter and matched against the entity's indexed columns (multi-value filters are comma-separated strings); these are combined with the tenant-security filters derived from the API key.\n\nTimestamps are ISO 8601 strings unless noted otherwise.\n\n## Date formats\nDate-time fields serialize as strings in one of two shapes depending on the underlying type: ISO 8601 with offset (e.g. `2026-08-14T13:05:22.000-07:00`) for most timestamps, or `yyyy-MM-dd HH:mm:ss.S` (space-separated, no offset) for database timestamp fields. Plain dates are `yyyy-MM-dd`. When sending date-times, ISO 8601 is accepted.\n\n## Required headers\nEvery request must carry BOTH `X-API-KEY` (your API key) and `OW-KEY` (the OpenWrench shared secret issued with it). Requests missing either return 401."
  },
  "servers": [
    {
      "url": "https://api.useopenwrench.com/api/external"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "OwKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Ping"
    },
    {
      "name": "Me"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Regions"
    },
    {
      "name": "Asset Types"
    },
    {
      "name": "Asset Meters"
    },
    {
      "name": "Assets"
    },
    {
      "name": "Asset Models"
    },
    {
      "name": "Work Orders"
    },
    {
      "name": "Work Order Notes"
    },
    {
      "name": "Service Calls"
    },
    {
      "name": "Site Survey Walkthroughs"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Proposals"
    },
    {
      "name": "Files"
    },
    {
      "name": "Planned Maintenance"
    },
    {
      "name": "Currency Exchange"
    },
    {
      "name": "Supplier Network"
    },
    {
      "name": "User Provisioning"
    }
  ],
  "paths": {
    "/v1/buyer/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Ping (auth check)",
        "tags": [
          "Ping"
        ],
        "description": "Returns {\"type\":\"pingpong\",\"data\":\"pong\",\"status\":\"ok\"} when the buyer API key is valid. Not rate limited.",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Identity of the calling API key",
        "tags": [
          "Me"
        ],
        "description": "Identity of the calling buyer API key (contact + facility + company). Deliberately small projection.",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIBuyerMeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/location/locations": {
      "get": {
        "operationId": "listLocations",
        "summary": "List locations",
        "tags": [
          "Locations"
        ],
        "description": "Lists locations for the caller's buyer company, scoped by tenant-security and buyer role-based (location/brand) filters. Page size is clamped to a maximum of 10 for this endpoint (a requested limit above 10 is reduced to 10). Filtering: every query parameter other than the pagination parameters is passed to the entity's filter layer and matched against its indexed columns (multi-value filters are comma-separated strings); the per-entity column names are not exhaustively documented here. Filters are combined with the tenant-security filters derived from the API key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/location/locations/count_by": {
      "get": {
        "operationId": "countLocations",
        "summary": "Count locations",
        "tags": [
          "Locations"
        ],
        "description": "Count of locations matching the given filters, scoped by tenant-security and role-based filters. Filtering: every query parameter other than the pagination parameters is passed to the entity's filter layer and matched against its indexed columns (multi-value filters are comma-separated strings); the per-entity column names are not exhaustively documented here. Filters are combined with the tenant-security filters derived from the API key.",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/location/locations/{id}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get a location",
        "tags": [
          "Locations"
        ],
        "description": "Retrieves a single location by id (permission-checked against the caller's company).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchLocation",
        "summary": "Patch a location (locationTypeDetails only)",
        "tags": [
          "Locations"
        ],
        "description": "Partial update of a location. Only the locationTypeDetails field is read from the body; all other fields are ignored. Not rate limited.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "locationTypeDetails": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FieldTypeDetails"
                    }
                  }
                },
                "description": "Only locationTypeDetails is consumed; other body fields are ignored."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/location/locations/multiple/{ids}": {
      "get": {
        "operationId": "getLocationsByIds",
        "summary": "Get multiple locations by ids",
        "tags": [
          "Locations"
        ],
        "description": "Retrieves multiple locations by a comma-separated list of ids. Ids the caller has no read permission for are silently omitted.",
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated location ids, e.g. \"1,2,3\"."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/location/regions": {
      "get": {
        "operationId": "listRegions",
        "summary": "List regions",
        "tags": [
          "Regions"
        ],
        "description": "Lists regions for the caller's buyer company. Filtering: every query parameter other than the pagination parameters is passed to the entity's filter layer and matched against its indexed columns (multi-value filters are comma-separated strings); the per-entity column names are not exhaustively documented here. Filters are combined with the tenant-security filters derived from the API key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/location/regions/{id}": {
      "get": {
        "operationId": "getRegion",
        "summary": "Get a region",
        "tags": [
          "Regions"
        ],
        "description": "Retrieves a single region by id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/asset/asset_types": {
      "post": {
        "operationId": "createAssetType",
        "summary": "Create an asset type",
        "tags": [
          "Asset Types"
        ],
        "description": "Creates an asset type. buyerCompanyId is derived from the API key and cannot be set by the caller. applianceCategory, refrigerantTypeCode and fullChargeLb accept an explicit null to clear the class-level default.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Present only when upserting an existing type."
                  },
                  "name": {
                    "type": "string"
                  },
                  "primarySpendCategory": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "attachments": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/FileDetails"
                    }
                  },
                  "allProblemTypeIds": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "integer"
                    }
                  },
                  "allSpendCategoryIds": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "integer"
                    }
                  },
                  "depreciationClassId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "requiredFields": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/FieldType"
                    }
                  },
                  "optionalFields": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/FieldType"
                    }
                  },
                  "replaceMarkupOnOriginalCost": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "replacementThreshold": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "usesRefrigerant": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "applianceCategory": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "refrigerantTypeCode": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "fullChargeLb": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "Must be positive when supplied."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetTypeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listAssetTypes",
        "summary": "List asset types",
        "tags": [
          "Asset Types"
        ],
        "description": "Lists asset types for the caller's buyer company. Filtering: every query parameter other than the pagination parameters is passed to the entity's filter layer and matched against its indexed columns (multi-value filters are comma-separated strings); the per-entity column names are not exhaustively documented here. Filters are combined with the tenant-security filters derived from the API key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetTypeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/asset/asset_types/{id}": {
      "get": {
        "operationId": "getAssetType",
        "summary": "Get an asset type",
        "tags": [
          "Asset Types"
        ],
        "description": "Retrieves a single asset type by id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetTypeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/asset/meters": {
      "get": {
        "operationId": "listAssetMeters",
        "summary": "List asset meters",
        "tags": [
          "Asset Meters"
        ],
        "description": "Lists asset meters for the caller's buyer company. Filtering: every query parameter other than the pagination parameters is passed to the entity's filter layer and matched against its indexed columns (multi-value filters are comma-separated strings); the per-entity column names are not exhaustively documented here. Filters are combined with the tenant-security filters derived from the API key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetMeterListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAssetMeter",
        "summary": "Create an asset meter",
        "tags": [
          "Asset Meters"
        ],
        "description": "Creates a meter on an asset. valueType, valueUnit and locationId are not read from the request body \u2014 they are derived server-side from the referenced asset and meter type. readingMode defaults to direct_reading when omitted.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "assetId": {
                    "type": "integer"
                  },
                  "meterTypeId": {
                    "type": "integer"
                  },
                  "readingMode": {
                    "type": "string",
                    "enum": [
                      "direct_reading",
                      "change_from_baseline",
                      "compare_to_target"
                    ],
                    "description": "Optional; defaults to direct_reading."
                  },
                  "defaultExpectedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "isArchived": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  }
                },
                "required": [
                  "name",
                  "assetId",
                  "meterTypeId"
                ],
                "additionalProperties": true,
                "description": "Fields not listed here (e.g. valueType, valueUnit, locationId) are ignored if sent."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetMeterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/asset/meter_readings": {
      "get": {
        "operationId": "listAssetMeterReadings",
        "summary": "List asset meter readings",
        "tags": [
          "Asset Meters"
        ],
        "description": "Lists asset meter readings for the caller's buyer company, across all of its meters unless filtered by meterId. Filtering: every query parameter other than the pagination parameters is passed to the entity's filter layer and matched against its indexed columns (multi-value filters are comma-separated strings); the per-entity column names are not exhaustively documented here. Filters are combined with the tenant-security filters derived from the API key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetMeterReadingListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAssetMeterReading",
        "summary": "Record an asset meter reading",
        "tags": [
          "Asset Meters"
        ],
        "description": "Records a reading against an asset meter. buyerCompanyId is derived server-side from the referenced meter, not read from the body.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meterId": {
                    "type": "integer"
                  },
                  "isBaseline": {
                    "type": [
                      "boolean",
                      "null"
                    ],
                    "description": "Defaults to false."
                  },
                  "value": {
                    "type": "string"
                  },
                  "expectedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "recordedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "recordedBy": {
                    "type": "string"
                  }
                },
                "required": [
                  "meterId",
                  "value",
                  "recordedAt",
                  "recordedBy"
                ],
                "additionalProperties": true,
                "description": "Fields not listed here (e.g. id, lastBaselineValue) are ignored if sent."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetMeterReadingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/asset/assets": {
      "post": {
        "operationId": "createAsset",
        "summary": "Create an asset",
        "tags": [
          "Assets"
        ],
        "description": "Creates an asset. buyerFacilityId/buyerCompanyId are derived from the location (never from the body). refrigerantTypeCode, fullChargeLb, applianceCategory and refrigerantRequiresProcessShutdown are CLEARABLE per-unit overrides of the asset type's defaults: omitting the key keeps the stored value, an explicit null (or blank string) clears it back to inheriting from the type. fullChargeLb must be positive; applianceCategory and refrigerantTypeCode are validated. A parentId requires sub-assets enabled for the company and the same location as the parent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Present only when upserting an existing asset."
                  },
                  "name": {
                    "type": "string"
                  },
                  "assetTypeId": {
                    "type": "integer"
                  },
                  "locationId": {
                    "type": "integer"
                  },
                  "isActive": {
                    "type": "boolean"
                  },
                  "isLeased": {
                    "type": "boolean"
                  },
                  "assetUUID": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "assetNumber": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "images": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "attachments": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/FileDetails"
                    }
                  },
                  "qrCodeImages": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/FileDetails"
                    }
                  },
                  "serialNumberImages": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/FileDetails"
                    }
                  },
                  "manufacturer": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "upcNumber": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "modelNumber": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "serialNumber": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "assetModelId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "assetTypeDetails": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/FieldTypeDetails"
                    }
                  },
                  "areaId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "brand": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "installDate": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "purchaseDate": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "leaseStartDate": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "leaseEndDate": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "warrantyIds": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "integer"
                    }
                  },
                  "partWarrantyId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "lifeExpectancyInMonths": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "originalPrice": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "capitalisedCost": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "isReplacementEquipment": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "replacementEquipmentTypeId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "lastTaggedAt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "assetTags": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "parentId": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Parent asset id (sub-asset). Must not equal the asset's own id."
                  },
                  "checkInNotes": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "imageRequired": {
                        "type": "boolean"
                      },
                      "notes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "imageRequired",
                      "notes"
                    ]
                  },
                  "checkOutNotes": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "imageRequired": {
                        "type": "boolean"
                      },
                      "notes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "imageRequired",
                      "notes"
                    ]
                  },
                  "availabilityStatus": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Defaults to \"available\"."
                  },
                  "downtimeStatus": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Defaults to \"online\"."
                  },
                  "additionalAssetDetails": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/AdditionalAssetDetails"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "partsVendorId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "vendorId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "externalSpend": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "userOverrideReplacementRecommendation": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "userOverrideReplacementRecommendationNotes": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "isRefrigerantTracked": {
                    "type": [
                      "boolean",
                      "null"
                    ],
                    "description": "Omitted or null keeps the stored value; enrolment is turned off only by an explicit false."
                  },
                  "refrigerantTypeCode": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "fullChargeLb": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "applianceCategory": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "refrigerantRequiresProcessShutdown": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  }
                },
                "required": [
                  "name",
                  "assetTypeId",
                  "locationId",
                  "isActive",
                  "isLeased"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listAssets",
        "summary": "List assets",
        "tags": [
          "Assets"
        ],
        "description": "Lists assets for the caller's buyer company, scoped by tenant-security and buyer role-based filters. Filtering: every query parameter other than the pagination parameters is passed to the entity's filter layer and matched against its indexed columns (multi-value filters are comma-separated strings); the per-entity column names are not exhaustively documented here. Filters are combined with the tenant-security filters derived from the API key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/asset/assets/asset_lite": {
      "get": {
        "operationId": "listAssetsLite",
        "summary": "List assets (lite projection)",
        "tags": [
          "Assets"
        ],
        "description": "Lightweight asset listing (id, name, type, serial, location, warranties). When no pagination filter is supplied the endpoint returns the unpaginated set; count equals the number of items returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetLiteListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/asset/assets/{id}": {
      "get": {
        "operationId": "getAsset",
        "summary": "Get an asset",
        "tags": [
          "Assets"
        ],
        "description": "Retrieves a single asset by id, hydrated with meters (response type marker is \"ApiAssetWithMeter\").",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/asset/asset_models": {
      "post": {
        "operationId": "createAssetModel",
        "summary": "Create an asset model",
        "tags": [
          "Asset Models"
        ],
        "description": "Creates an asset model. buyerCompanyId is derived from the API key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "modelName": {
                    "type": "string"
                  },
                  "assetTypeId": {
                    "type": "integer"
                  },
                  "manuals": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/FileDetails"
                    }
                  },
                  "specs": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/AssetSpec"
                    }
                  }
                },
                "required": [
                  "modelName",
                  "assetTypeId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listAssetModels",
        "summary": "List asset models",
        "tags": [
          "Asset Models"
        ],
        "description": "Lists asset models for the caller's buyer company. Filtering: every query parameter other than the pagination parameters is passed to the entity's filter layer and matched against its indexed columns (multi-value filters are comma-separated strings); the per-entity column names are not exhaustively documented here. Filters are combined with the tenant-security filters derived from the API key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetModelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/asset/asset_models/fuzzy/{name}/{assetTypeId}": {
      "get": {
        "operationId": "getAssetModelFuzzy",
        "summary": "Fuzzy-match an asset model by name",
        "tags": [
          "Asset Models"
        ],
        "description": "Fuzzy-matches an asset model name within an asset type. Returns 404 when no sufficiently close match exists.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetModelResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/asset/asset_models/{id}": {
      "get": {
        "operationId": "getAssetModel",
        "summary": "Get an asset model",
        "tags": [
          "Asset Models"
        ],
        "description": "Retrieves a single asset model by id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/work_order/work_orders": {
      "post": {
        "operationId": "createWorkOrder",
        "summary": "Create a work order",
        "tags": [
          "Work Orders"
        ],
        "description": "Creates a work order. buyerFacilityId, buyerCompanyId and createdBy must be supplied in the body (they are not derived from the API key on this endpoint). If status is omitted the initial status is computed from the buyer company's configuration (service requests typically start PendingApproval; work orders default to Unassigned). An unknown supplierFacilityId, assetId or problemTypeId is rejected with 400. siteSurveyTaskTitleId and walkThroughId must be provided together or not at all.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Present only when upserting an existing work order."
                  },
                  "title": {
                    "type": "string"
                  },
                  "locationId": {
                    "type": "integer"
                  },
                  "problemTypeId": {
                    "type": "integer"
                  },
                  "buyerFacilityId": {
                    "type": "integer"
                  },
                  "buyerCompanyId": {
                    "type": "integer"
                  },
                  "createdBy": {
                    "type": "string",
                    "description": "Email of the creating contact."
                  },
                  "woNumber": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "poNumber": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "buyerProjectIds": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "integer"
                    }
                  },
                  "isPM": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "isCapex": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "isStale": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "isSupplierInitiated": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "isCustomerInitiated": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "isWarranty": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "status": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Requested WorkOrderStatus name; the effective status is still resolved against company configuration. Omit to use the computed initial status."
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "assetId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "subAssetIds": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "integer"
                    }
                  },
                  "isAssetDown": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "areaId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "workCategoryId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "woPriorityId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "needApproval": {
                    "type": [
                      "boolean",
                      "null"
                    ],
                    "description": "Note the field name: needApproval, not needsApproval."
                  },
                  "requiresSignature": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "approvalRequiredFrom": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "approvalSentTo": {
                          "type": "string"
                        },
                        "signatureImage": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "approvalSentTo"
                      ]
                    }
                  },
                  "images": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "parts": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "integer",
                      "description": "Part ids."
                    }
                  },
                  "skipSupplier": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "supplierFacilityId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "supplierPrimaryContactEmail": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "contractorDetails": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "contractorContacts": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "contractorContacts"
                    ]
                  },
                  "assignmentChanges": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": true
                    }
                  },
                  "scheduledAt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "estimatedCompletionDate": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "dueDate": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "price": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "currencyId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "terms": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "nte": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "nteInLocationCurrency": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "locationCurrencyId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "currencyExchangeRateLocationToSupplier": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "currencyExchangeRateBuyerToLocation": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "statusChanges": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/StatusChange"
                    }
                  },
                  "submittedByName": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "hasBuyerArchived": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "hasSupplierArchived": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "buyerAttachments": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/FileDetails"
                    }
                  },
                  "supplierAttachments": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/FileDetails"
                    }
                  },
                  "fromRequestPortal": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "fromClientPortal": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "forcePendingStatusOnCreateFromPortal": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "resolutionTypeId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "plannedMaintenanceScheduleId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "taskCompletionMandatory": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "isPrivate": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "walkThroughId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "siteSurveyTaskTitleId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "includeWalkthroughTaskList": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  }
                },
                "required": [
                  "title",
                  "locationId",
                  "problemTypeId",
                  "buyerFacilityId",
                  "buyerCompanyId",
                  "createdBy"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listWorkOrders",
        "summary": "List work orders",
        "tags": [
          "Work Orders"
        ],
        "description": "Lists work orders for the caller's buyer company (served from the read replica). Filtering: every query parameter other than the pagination parameters is passed to the entity's filter layer and matched against its indexed columns (multi-value filters are comma-separated strings); the per-entity column names are not exhaustively documented here. Filters are combined with the tenant-security filters derived from the API key.",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/work_order/work_orders/count_by": {
      "get": {
        "operationId": "countWorkOrders",
        "summary": "Count work orders",
        "tags": [
          "Work Orders"
        ],
        "description": "Count of work orders matching the given filters (served from the read replica). Filtering: every query parameter other than the pagination parameters is passed to the entity's filter layer and matched against its indexed columns (multi-value filters are comma-separated strings); the per-entity column names are not exhaustively documented here. Filters are combined with the tenant-security filters derived from the API key.",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/work_order/work_orders/{id}": {
      "get": {
        "operationId": "getWorkOrder",
        "summary": "Get a work order",
        "tags": [
          "Work Orders"
        ],
        "description": "Retrieves a single work order by id (served from the read replica).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchWorkOrder",
        "summary": "Patch a work order (supplier reassignment only)",
        "tags": [
          "Work Orders"
        ],
        "description": "Restricted patch: only supplierFacilityId and supplierPrimaryContactEmail are read from the body; all other fields are ignored rather than rejected. The email applies only as part of a reassignment \u2014 without a supplier facility change the patch is a no-op and persists nothing (the current hydrated work order is returned). A nonexistent id and a permission denial return the same 400 unauthorized response.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "supplierFacilityId": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "New supplier facility to reassign the work order to."
                  },
                  "supplierPrimaryContactEmail": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Applied only together with a supplier facility change."
                  }
                },
                "additionalProperties": true,
                "description": "Other fields are ignored."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/work_order/work_orders/status_update/work_reviewed_and_completed": {
      "post": {
        "operationId": "updateWorkOrderStatusToWorkReviewedAndCompleted",
        "summary": "Mark work reviewed and completed",
        "tags": [
          "Work Orders"
        ],
        "description": "Sets the work order status to WorkReviewedAndCompleted. Side effects: may publish the supplier's draft invoice (per supplier company settings) and fulfil linked purchase requests.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Work order id."
                  },
                  "note": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Note"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Optional note appended to the work order's note thread along with the status change."
                  }
                },
                "required": [
                  "id"
                ],
                "description": "Work order status-change request: the work order id, plus an optional note."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/work_order/work_orders/status_update/cancelled": {
      "post": {
        "operationId": "updateWorkOrderStatusToCancelled",
        "summary": "Cancel a work order",
        "tags": [
          "Work Orders"
        ],
        "description": "Sets the work order status to CancelledWithReason.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Work order id."
                  },
                  "note": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Note"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Optional note appended to the work order's note thread along with the status change."
                  }
                },
                "required": [
                  "id"
                ],
                "description": "Work order status-change request: the work order id, plus an optional note."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, parse failure, or the API key's contact could not be resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window per key).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/work_order/work_orders/status_update/work_unsatisfactory": {
      "post": {
        "operationId": "updateWorkOrderStatusToWorkUnsatisfactory",
        "summary": "Mark work unsatisfactory",
        "tags": [
          "Work Orders"
        ],
        "description": "Sets the work order status to WorkUnsatisfactory and sends the attached note.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Work order id."
                  },
                  "note": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Note"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Optional note appended to the work order's note thread along with the status change."
                  }
                },
                "required": [
                  "id"
                ],
                "description": "Work order status-change request: the work order id, plus an optional note."
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
