{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenWrench Internal Teams API",
    "version": "1.0.0",
    "description": "External partners API for OpenWrench supplier inventory: purchase requests, purchase orders, receipts, parts, equipment types, vendors, stock locations, per-stock-location inventory, and work order part/equipment usage.\n\n## Authentication\nEvery request must include an API key in the `X-API-KEY` header. Requests with a missing or invalid key receive `401 Unauthorized`. All data is scoped to the supplier company/facility of the contact the API key belongs to.\n\n## Rate limiting\nEach API key is limited to 10 requests per 20-second window. Requests beyond that receive `429 Too Many Requests`.\n\n## Response envelope\nSingle-entity responses are wrapped as `{ \"type\": \"<EntityName>\", \"data\": { ... }, \"status\": \"ok\" }`. List responses are wrapped as `{ \"type\": \"<EntityName>\", \"data\": [ ... ], \"count\": <total>, \"status\": \"ok\" }` where `count` is the total number of matching records. Count endpoints return `{ \"type\": \"Count\", \"data\": <integer>, \"status\": \"ok\" }`. Errors are returned as `{ \"message\": \"...\", \"type\": \"<ExceptionType>\", \"status\": \"error\", \"traceId\": \"...\" }` with HTTP status 400 (bad input), 401 (missing/invalid key), 404 (not found), or 429 (rate limited).\n\n## Pagination and filtering\nList endpoints accept `offset`, `limit` (default 10, max 25), `sort_by`, and `order` (`asc`|`desc`) query parameters. Any other query parameter is passed through as an equality filter on the corresponding entity column.\n\n## Date formats\nDate-time fields serialize as strings in one of two shapes depending on the underlying type: ISO 8601 with offset (e.g. `2026-08-14T13:05:22.000-07:00`) for most timestamps, or `yyyy-MM-dd HH:mm:ss.S` (space-separated, no offset) for database timestamp fields. Plain dates are `yyyy-MM-dd`. When sending date-times, ISO 8601 is accepted.\n\n## API keys\nThese endpoints require a **partner API key**, which is separate from buyer and supplier API keys. A buyer API key will not authenticate against `/v1/partners/` endpoints. Contact support@useopenwrench.com to have a partner key issued.\n\n## Required headers\nEvery request must carry BOTH `X-API-KEY` (your API key) and `OW-KEY` (the OpenWrench shared secret issued with it). Requests missing either return 401."
  },
  "servers": [
    {
      "url": "https://api.useopenwrench.com/api/external"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "OwKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Ping",
      "description": "Health/authentication check"
    },
    {
      "name": "Purchase Requests",
      "description": "Supplier inventory purchase requests"
    },
    {
      "name": "Purchase Request Line Items",
      "description": "Line items on purchase requests"
    },
    {
      "name": "Purchase Orders",
      "description": "Supplier inventory purchase orders"
    },
    {
      "name": "Purchase Order Line Items",
      "description": "Line items on purchase orders"
    },
    {
      "name": "Purchase Order Receipts",
      "description": "Receipts recorded against purchase order line items"
    },
    {
      "name": "Parts",
      "description": "Supplier part catalog"
    },
    {
      "name": "Equipment Types",
      "description": "Supplier equipment type catalog"
    },
    {
      "name": "Vendors",
      "description": "Part/equipment vendors"
    },
    {
      "name": "Stock Locations",
      "description": "Warehouses and mobile stock locations"
    },
    {
      "name": "Parts Per Stock Location",
      "description": "Part stocking records per stock location"
    },
    {
      "name": "Equipment Per Stock Location",
      "description": "Individual equipment held per stock location"
    },
    {
      "name": "Work Order Parts and Equipment",
      "description": "Parts and equipment used on work orders"
    }
  ],
  "paths": {
    "/v1/partners/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Ping",
        "description": "Health/authentication check. Returns a static \"pong\" payload when the supplied X-API-KEY is valid.",
        "tags": [
          "Ping"
        ],
        "responses": {
          "200": {
            "description": "Pong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringDataResponse"
                },
                "example": {
                  "type": "pingpong",
                  "data": "pong",
                  "status": "ok"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/partners/inventory/purchase_requests/{id}": {
      "get": {
        "operationId": "getPurchaseRequest",
        "summary": "Retrieve a purchase request by id",
        "description": "Retrieves a single purchase request belonging to the API key's supplier company, including its part and equipment line items.",
        "tags": [
          "Purchase Requests"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseRequestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Numeric identifier of the entity"
          }
        ]
      }
    },
    "/v1/partners/inventory/purchase_requests": {
      "get": {
        "operationId": "listPurchaseRequests",
        "summary": "List purchase requests",
        "description": "Lists purchase requests visible to the API key's supplier company/facility. Any query-string parameter other than the paging parameters is passed to the data layer as an equality filter on the corresponding entity column (e.g. `status=requested`, `stockLocationId=42`). Results are always restricted to the supplier company/facility associated with the API key.",
        "tags": [
          "Purchase Requests"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseRequestListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ]
      }
    },
    "/v1/partners/inventory/purchase_requests/{id}/cancelled": {
      "patch": {
        "operationId": "cancelPurchaseRequest",
        "summary": "Cancel a purchase request",
        "description": "Cancels a purchase request. Only purchase requests currently in a cancellable status (\"requested\" or \"approved\") can be cancelled; otherwise a 400 is returned. The caller's API key must belong to a contact associated with a facility of the purchase request's supplier company. Returns the updated purchase request.",
        "tags": [
          "Purchase Requests"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseRequestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Numeric identifier of the entity"
          }
        ]
      }
    },
    "/v1/partners/inventory/purchase_requests/{id}/{status}": {
      "patch": {
        "operationId": "updatePurchaseRequestStatus",
        "summary": "Update purchase request status",
        "description": "Sets the status of a purchase request to the status given in the path. The caller's API key must belong to a contact associated with a facility of the purchase request's supplier company; otherwise a 400 is returned. An unrecognized status value is rejected. Returns the updated purchase request.",
        "tags": [
          "Purchase Requests"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseRequestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Numeric identifier of the entity"
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "requested",
                "denied",
                "cancelled",
                "approved",
                "orderInProgress",
                "ordered",
                "partially_ordered",
                "fulfilled",
                "partially_fulfilled"
              ]
            },
            "description": "Target status"
          }
        ]
      }
    },
    "/v1/partners/inventory/purchase_request_line_items/count_by": {
      "get": {
        "operationId": "countPurchaseRequestLineItems",
        "summary": "Count purchase request line items",
        "description": "Returns the number of purchase request line items matching the supplied filters, scoped to the API key's supplier company/facility. Any query-string parameter other than the paging parameters is passed to the data layer as an equality filter on the corresponding entity column (e.g. `status=requested`, `stockLocationId=42`). Results are always restricted to the supplier company/facility associated with the API key.",
        "tags": [
          "Purchase Request Line Items"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ]
      }
    },
    "/v1/partners/inventory/purchase_request_line_items": {
      "get": {
        "operationId": "listPurchaseRequestLineItems",
        "summary": "List purchase request line items",
        "description": "Lists purchase request line items scoped to the API key's supplier company/facility. Any query-string parameter other than the paging parameters is passed to the data layer as an equality filter on the corresponding entity column (e.g. `status=requested`, `stockLocationId=42`). Results are always restricted to the supplier company/facility associated with the API key.",
        "tags": [
          "Purchase Request Line Items"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseRequestLineItemListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ]
      }
    },
    "/v1/partners/inventory/purchase_request_line_items/associate_po_line_item/{ids}/{poLineItem}": {
      "patch": {
        "operationId": "associatePurchaseOrderLineItem",
        "summary": "Associate PR line items with a PO line item",
        "description": "Associates the purchase request line items identified by the comma-separated ids in the path with the given purchase order line item: each line item's status is set to \"orderInProgress\" and its associatedPurchaseOrderLineItemId is set to the poLineItem path value, and each parent purchase request's status is recomputed from its line items. Line item ids the API key has no read permission for are silently skipped. Returns the updated purchase request line items (possibly an empty list when nothing was permitted).",
        "tags": [
          "Purchase Request Line Items"
        ],
        "responses": {
          "200": {
            "description": "The updated purchase request line items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseRequestLineItemListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated purchase request line item ids"
          },
          {
            "name": "poLineItem",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Purchase order line item id to associate"
          }
        ]
      }
    },
    "/v1/partners/inventory/purchase_orders": {
      "post": {
        "operationId": "createPurchaseOrder",
        "summary": "Create a purchase order",
        "description": "Creates a purchase order together with its line items (incomingLineItems). supplierCompanyId and supplierFacilityId are derived from the contact associated with the API key; if the contact has no facility/company a 400 is returned. totalCost is required unless the supplier company's inventory settings mark PO cost as non-mandatory (mandatory by default). Returns the created purchase order.",
        "tags": [
          "Purchase Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseOrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplierPurchaseOrderCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listPurchaseOrders",
        "summary": "List purchase orders",
        "description": "Lists purchase orders visible to the API key's supplier company/facility. Any query-string parameter other than the paging parameters is passed to the data layer as an equality filter on the corresponding entity column (e.g. `status=requested`, `stockLocationId=42`). Results are always restricted to the supplier company/facility associated with the API key.",
        "tags": [
          "Purchase Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseOrderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ]
      }
    },
    "/v1/partners/inventory/purchase_orders/{id}": {
      "get": {
        "operationId": "getPurchaseOrder",
        "summary": "Retrieve a purchase order by id",
        "description": "Retrieves a single purchase order belonging to the API key's supplier company, including its part and equipment line items.",
        "tags": [
          "Purchase Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseOrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Numeric identifier of the entity"
          }
        ]
      }
    },
    "/v1/partners/inventory/purchase_orders/{id}/cancel": {
      "patch": {
        "operationId": "cancelPurchaseOrder",
        "summary": "Cancel a purchase order",
        "description": "Cancels a purchase order. The caller's API key must belong to a contact of the purchase order's supplier company/facility; otherwise a 400 is returned. Returns the updated purchase order.",
        "tags": [
          "Purchase Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseOrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Numeric identifier of the entity"
          }
        ]
      }
    },
    "/v1/partners/inventory/purchase_orders/{id}/ordered": {
      "patch": {
        "operationId": "markPurchaseOrderOrdered",
        "summary": "Mark a purchase order as ordered",
        "description": "Transitions the purchase order to status \"ordered\" and sends the order notification email to the vendor. On success the response data is the confirmation string \"Email has been sent\" (type \"Email\"), not the updated purchase order.",
        "tags": [
          "Purchase Orders"
        ],
        "responses": {
          "200": {
            "description": "Order notification sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringDataResponse"
                },
                "example": {
                  "type": "Email",
                  "data": "Email has been sent",
                  "status": "ok"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Numeric identifier of the entity"
          }
        ]
      }
    },
    "/v1/partners/inventory/purchase_order_line_items/bulk": {
      "post": {
        "operationId": "bulkCreatePurchaseOrderLineItems",
        "summary": "Bulk (re)create purchase order line items",
        "description": "Replaces the line items of a purchase order: all existing NON-received line items on the target purchase order are deleted, then the submitted line items are created. All items in one call must reference the same supplierPurchaseOrderId. Line item status cannot be set by the caller (new lines start as \"new\"; a line resubmitted with its id keeps its status). The purchase order's part/equipment/purchase-request id lists are recomputed from the submitted lines and the purchase order notification is re-sent. supplierFacilityId and supplierCompanyId on each item are derived from the API key. Returns the created line items; items the caller has no write permission for are silently skipped.",
        "tags": [
          "Purchase Order Line Items"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseOrderLineItemListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SupplierPurchaseOrderLineItemBulkItem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/partners/inventory/purchase_order_receipts/{id}": {
      "get": {
        "operationId": "getPurchaseOrderReceipt",
        "summary": "Retrieve a purchase order receipt by id",
        "description": "Retrieves a single purchase order receipt belonging to the API key's supplier facility.",
        "tags": [
          "Purchase Order Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseOrderReceiptResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Numeric identifier of the entity"
          }
        ]
      }
    },
    "/v1/partners/inventory/purchase_order_receipts": {
      "put": {
        "operationId": "updatePurchaseOrderReceipt",
        "summary": "Update a purchase order receipt",
        "description": "Updates a purchase order receipt (identified by id in the request body). On this endpoint updatedBy and supplierFacilityId must be supplied in the body \u2014 they are not derived from the API key. receivedQuantity must be non-zero (negative records a return); receipt-value arrays, when sent, must match receivedQuantity in length, may not accompany a return, and their serial/asset numbers must not already exist. Updating a receipt adjusts the received quantities/costs on the associated purchase order line item and stock records. Returns the updated receipt.",
        "tags": [
          "Purchase Order Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierPurchaseOrderReceiptResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplierPurchaseOrderReceiptUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/v1/partners/inventory/parts/{id}": {
      "get": {
        "operationId": "getPart",
        "summary": "Retrieve a part by id",
        "description": "Retrieves a single part from the supplier's catalog.",
        "tags": [
          "Parts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Numeric identifier of the entity"
          }
        ]
      }
    },
    "/v1/partners/inventory/parts": {
      "get": {
        "operationId": "listParts",
        "summary": "List parts",
        "description": "Lists parts in the supplier company's catalog. Any query-string parameter other than the paging parameters is passed to the data layer as an equality filter on the corresponding entity column (e.g. `status=requested`, `stockLocationId=42`). Results are always restricted to the supplier company/facility associated with the API key.",
        "tags": [
          "Parts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ]
      }
    },
    "/v1/partners/inventory/equipment_types/{id}": {
      "get": {
        "operationId": "getEquipmentType",
        "summary": "Retrieve a equipment type by id",
        "description": "Retrieves a single equipment type from the supplier's catalog.",
        "tags": [
          "Equipment Types"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentTypeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Numeric identifier of the entity"
          }
        ]
      }
    },
    "/v1/partners/inventory/equipment_types": {
      "get": {
        "operationId": "listEquipmentTypes",
        "summary": "List equipment types",
        "description": "Lists equipment types in the supplier company's catalog. Any query-string parameter other than the paging parameters is passed to the data layer as an equality filter on the corresponding entity column (e.g. `status=requested`, `stockLocationId=42`). Results are always restricted to the supplier company/facility associated with the API key.",
        "tags": [
          "Equipment Types"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentTypeListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ]
      }
    },
    "/v1/partners/inventory/part_equipment_vendors/{id}": {
      "get": {
        "operationId": "getPartEquipmentVendor",
        "summary": "Retrieve a vendor by id",
        "description": "Retrieves a single part/equipment vendor.",
        "tags": [
          "Vendors"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartEquipmentVendorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Numeric identifier of the entity"
          }
        ]
      }
    },
    "/v1/partners/inventory/part_equipment_vendors": {
      "get": {
        "operationId": "listPartEquipmentVendors",
        "summary": "List vendors",
        "description": "Lists part/equipment vendors of the supplier facility. Any query-string parameter other than the paging parameters is passed to the data layer as an equality filter on the corresponding entity column (e.g. `status=requested`, `stockLocationId=42`). Results are always restricted to the supplier company/facility associated with the API key.",
        "tags": [
          "Vendors"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartEquipmentVendorListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ]
      }
    },
    "/v1/partners/inventory/stock_locations/{id}": {
      "get": {
        "operationId": "getStockLocation",
        "summary": "Retrieve a stock location by id",
        "description": "Retrieves a single stock location.",
        "tags": [
          "Stock Locations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockLocationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Numeric identifier of the entity"
          }
        ]
      }
    },
    "/v1/partners/inventory/stock_locations": {
      "get": {
        "operationId": "listStockLocations",
        "summary": "List stock locations",
        "description": "Lists stock locations of the supplier company/facility. Any query-string parameter other than the paging parameters is passed to the data layer as an equality filter on the corresponding entity column (e.g. `status=requested`, `stockLocationId=42`). Results are always restricted to the supplier company/facility associated with the API key.",
        "tags": [
          "Stock Locations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockLocationListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ]
      }
    },
    "/v1/partners/inventory/parts_per_stock_locations/{id}": {
      "get": {
        "operationId": "getPartsPerStockLocation",
        "summary": "Retrieve a parts per stock location by id",
        "description": "Retrieves a single part-at-stock-location stocking record (on-hand/reserved/available quantities, bin location, costs).",
        "tags": [
          "Parts Per Stock Location"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartsPerStockLocationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Numeric identifier of the entity"
          }
        ]
      }
    },
    "/v1/partners/inventory/parts_per_stock_locations": {
      "get": {
        "operationId": "listPartsPerStockLocations",
        "summary": "List parts per stock location",
        "description": "Lists part stocking records across the supplier's stock locations. Any query-string parameter other than the paging parameters is passed to the data layer as an equality filter on the corresponding entity column (e.g. `status=requested`, `stockLocationId=42`). Results are always restricted to the supplier company/facility associated with the API key.",
        "tags": [
          "Parts Per Stock Location"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartsPerStockLocationListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ]
      }
    },
    "/v1/partners/inventory/equipment_per_stock_locations/{id}": {
      "get": {
        "operationId": "getEquipmentPerStockLocation",
        "summary": "Retrieve a equipment per stock location by id",
        "description": "Retrieves a single piece of equipment held at a stock location (serial number, condition, provenance).",
        "tags": [
          "Equipment Per Stock Location"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentPerStockLocationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Numeric identifier of the entity"
          }
        ]
      }
    },
    "/v1/partners/inventory/equipment_per_stock_locations": {
      "get": {
        "operationId": "listEquipmentPerStockLocations",
        "summary": "List equipment per stock location",
        "description": "Lists equipment held across the supplier's stock locations. Any query-string parameter other than the paging parameters is passed to the data layer as an equality filter on the corresponding entity column (e.g. `status=requested`, `stockLocationId=42`). Results are always restricted to the supplier company/facility associated with the API key.",
        "tags": [
          "Equipment Per Stock Location"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentPerStockLocationListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ]
      }
    },
    "/v1/partners/work_order/work_order_parts_equipments/{workOrderId}": {
      "get": {
        "operationId": "listWorkOrderPartsAndEquipment",
        "summary": "List parts and equipment used on a work order",
        "description": "Lists the part and equipment records consumed/used on the given work order, scoped to the API key's supplier tenant. Results are paginated. For partner API keys whose supplier company is not an internal-technician company, the embedded workOrder and location objects are masked (sensitive fields removed). Any query-string parameter other than the paging parameters is passed to the data layer as an equality filter on the corresponding entity column (e.g. `status=requested`, `stockLocationId=42`). Results are always restricted to the supplier company/facility associated with the API key.",
        "tags": [
          "Work Order Parts and Equipment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderPartAndEquipmentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "name": "workOrderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Id of the work order"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/SortBy"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Supplier partner API key. Rate limited to 10 requests per 20-second window."
      },
      "OwKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "OW-KEY",
        "description": "OpenWrench shared secret. Required on every request alongside X-API-KEY; issued together with your API key."
      }
    },
    "parameters": {
      "Offset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        },
        "description": "Number of records to skip"
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 25,
          "default": 10
        },
        "description": "Page size (default 10, max 25)"
      },
      "SortBy": {
        "name": "sort_by",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Field name to sort by"
      },
      "Order": {
        "name": "order",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ]
        },
        "description": "Sort direction"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request \u2014 invalid input, a disallowed state transition, the API key's contact is not associated with the required company/facility, or the key lacks read/write permission for the entity (permission failures are returned as 400 with type \"unauthorizedException\", not as 403)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid X-API-KEY",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Entity not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded (10 requests per 20-second window per key)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Standard error envelope.",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "type": {
            "type": "string",
            "description": "Exception type, e.g. badRequestException, unauthorizedException, notFoundException"
          },
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "traceId": {
            "type": "string",
            "description": "Server-generated trace identifier (11 alphanumeric characters) for support/debugging"
          }
        },
        "required": [
          "message",
          "type",
          "status",
          "traceId"
        ]
      },
      "AbridgedEntity": {
        "type": "object",
        "additionalProperties": true,
        "description": "Nested hydrated entity whose full schema is not expanded in this spec (the shape is abridged). Present only when the record has the association hydrated."
      },
      "SupplierPurchaseRequestIncomingLineItem": {
        "type": "object",
        "description": "Incoming (write-side) purchase request line item.",
        "properties": {
          "status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "requested",
              "denied",
              "cancelled",
              "approved",
              "orderInProgress",
              "ordered",
              "partially_ordered",
              "fulfilled",
              "partially_fulfilled",
              null
            ]
          },
          "isEquipmentLine": {
            "type": "boolean",
            "description": "true for an equipment line, false for a part line"
          },
          "partId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "partCatalogId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "partQuantity": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "partUomId": {
            "type": "integer",
            "format": "int32",
            "description": "Unit-of-measure id for the part line"
          },
          "partUnitCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "partCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "partCurrencyId": {
            "type": "string",
            "description": "Currency code for part costs"
          },
          "equipmentTypeId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "equipmentCatalogId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "equipmentQuantity": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "equipmentUomId": {
            "type": "integer",
            "format": "int32",
            "description": "Unit-of-measure id for the equipment line"
          },
          "equipmentUnitCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "equipmentCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "associatedPOLineItemId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Purchase order line item this PR line is associated with"
          },
          "equipmentCurrencyId": {
            "type": "string",
            "description": "Currency code for equipment costs"
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          }
        },
        "required": [
          "isEquipmentLine",
          "partUomId",
          "partCurrencyId",
          "equipmentUomId",
          "equipmentCurrencyId"
        ]
      },
      "SupplierPurchaseRequestLite": {
        "type": "object",
        "description": "Compact representation of a purchase request, embedded in line items.",
        "properties": {
          "id": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "purchaseRequestUniqueId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "purchaseRequestCustomIdentifier": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "requested",
              "denied",
              "cancelled",
              "approved",
              "orderInProgress",
              "ordered",
              "partially_ordered",
              "fulfilled",
              "partially_fulfilled"
            ]
          },
          "stockLocationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "stockLocation": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StockLocation"
              },
              {
                "type": "null"
              }
            ]
          },
          "locationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "location": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated location (abridged)."
          },
          "totalCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "currencyId": {
            "type": "string"
          },
          "currency": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated currency (abridged)."
          },
          "workOrderId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "asset": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated asset (abridged)."
          },
          "warrantyAssetId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "warrantyAsset": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated asset (abridged)."
          },
          "partIds": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated part ids on the request"
          },
          "equipmentTypeIds": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated equipment type ids on the request"
          },
          "createdByEmail": {
            "type": "string"
          },
          "createdByContact": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated contact (abridged)."
          },
          "approvedOrDeclinedOrCancelledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "approvedOrDeclinedOrCancelledByEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "approvedOrDeclinedOrCancelledByContact": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated contact (abridged)."
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          }
        },
        "required": [
          "name",
          "status",
          "currencyId",
          "createdByEmail",
          "isDeleted"
        ]
      },
      "SupplierPurchaseRequest": {
        "type": "object",
        "description": "A supplier inventory purchase request (PR).",
        "properties": {
          "id": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "purchaseRequestUniqueId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Sequential PR number unique within the supplier company"
          },
          "purchaseRequestCustomIdentifier": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "requested",
              "denied",
              "cancelled",
              "approved",
              "orderInProgress",
              "ordered",
              "partially_ordered",
              "fulfilled",
              "partially_fulfilled"
            ]
          },
          "stockLocationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "stockLocation": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StockLocation"
              },
              {
                "type": "null"
              }
            ]
          },
          "locationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "location": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated location (abridged)."
          },
          "totalCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "currencyId": {
            "type": "string"
          },
          "currency": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated currency (abridged)."
          },
          "workOrderId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "workOrder": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated work order (abridged)."
          },
          "asset": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated asset (abridged)."
          },
          "warrantyAssetId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "warrantyAsset": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated asset (abridged)."
          },
          "partIds": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated part ids on the request"
          },
          "equipmentTypeIds": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated equipment type ids on the request"
          },
          "internalNotes": {
            "type": [
              "string",
              "null"
            ]
          },
          "supplierFacilityId": {
            "type": "integer",
            "format": "int32"
          },
          "supplierFacility": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated supplier facility (abridged)."
          },
          "supplierCompanyId": {
            "type": "integer",
            "format": "int32"
          },
          "supplierCompany": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated supplier company (abridged)."
          },
          "createdByEmail": {
            "type": "string"
          },
          "createdByContact": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated contact (abridged)."
          },
          "approvedOrDeclinedOrCancelledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "approvedOrDeclinedOrCancelledByEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "approvedOrDeclinedOrCancelledByContact": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated contact (abridged)."
          },
          "approvalHierarchyId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "hasApprovalHierarchy": {
            "type": "boolean"
          },
          "approvalHierarchy": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Approval hierarchy with approved tier details (abridged)."
          },
          "approvedTierDetails": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/AbridgedEntity"
            }
          },
          "isApprovalTierSyncAvailable": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "partSupplierPurchaseRequestLineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplierPurchaseRequestLineItem"
            }
          },
          "equipmentSupplierPurchaseRequestLineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplierPurchaseRequestLineItem"
            }
          },
          "deletedPartSupplierPurchaseRequestLineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplierPurchaseRequestLineItem"
            }
          },
          "deletedEquipmentSupplierPurchaseRequestLineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplierPurchaseRequestLineItem"
            }
          },
          "incomingLineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplierPurchaseRequestIncomingLineItem"
            }
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          }
        },
        "required": [
          "name",
          "status",
          "currencyId",
          "supplierFacilityId",
          "supplierCompanyId",
          "createdByEmail",
          "hasApprovalHierarchy",
          "partSupplierPurchaseRequestLineItems",
          "equipmentSupplierPurchaseRequestLineItems",
          "deletedPartSupplierPurchaseRequestLineItems",
          "deletedEquipmentSupplierPurchaseRequestLineItems",
          "incomingLineItems",
          "isDeleted"
        ]
      },
      "SupplierPurchaseRequestLineItem": {
        "type": "object",
        "description": "A single part or equipment line on a purchase request.",
        "properties": {
          "id": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "status": {
            "type": "string",
            "enum": [
              "requested",
              "denied",
              "cancelled",
              "approved",
              "orderInProgress",
              "ordered",
              "partially_ordered",
              "fulfilled",
              "partially_fulfilled"
            ]
          },
          "supplierPurchaseRequestId": {
            "type": "integer",
            "format": "int64"
          },
          "supplierPurchaseRequest": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SupplierPurchaseRequestLite"
              },
              {
                "type": "null"
              }
            ]
          },
          "stockLocationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "locationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "isEquipmentLine": {
            "type": "boolean"
          },
          "partId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "part": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Part"
              },
              {
                "type": "null"
              }
            ]
          },
          "partCatalogId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "partCatalog": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated part catalog (abridged)."
          },
          "partQuantity": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "partUomId": {
            "type": "integer",
            "format": "int32"
          },
          "partUom": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated unit of measure (abridged)."
          },
          "partUnitCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "partCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "partCurrencyId": {
            "type": "string"
          },
          "partCurrency": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated currency (abridged)."
          },
          "equipmentTypeId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "equipmentType": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/EquipmentType"
              },
              {
                "type": "null"
              }
            ]
          },
          "equipmentCatalogId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "equipmentCatalog": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated equipment catalog (abridged)."
          },
          "equipmentQuantity": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "equipmentUomId": {
            "type": "integer",
            "format": "int32"
          },
          "equipmentUom": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated unit of measure (abridged)."
          },
          "equipmentUnitCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "equipmentCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "equipmentCurrencyId": {
            "type": "string"
          },
          "equipmentCurrency": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated currency (abridged)."
          },
          "stockLocation": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StockLocation"
              },
              {
                "type": "null"
              }
            ]
          },
          "location": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated location (abridged)."
          },
          "supplierFacilityId": {
            "type": "integer",
            "format": "int32"
          },
          "supplierFacility": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated supplier facility (abridged)."
          },
          "supplierCompanyId": {
            "type": "integer",
            "format": "int32"
          },
          "supplierCompany": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated supplier company (abridged)."
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "partReceivedQuantity": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "equipmentReceivedQuantity": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "associatedPurchaseOrderLineItemId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "associatedPurchaseOrderLineItem": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SupplierPurchaseOrderLineItem"
              },
              {
                "type": "null"
              }
            ]
          },
          "recordCurrentlyAssociatedPOLineItemIdsPostCancellation": {
            "type": [
              "string",
              "null"
            ]
          },
          "glCodeForPurchaseOrderLineItem": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "status",
          "supplierPurchaseRequestId",
          "isEquipmentLine",
          "partUomId",
          "partCurrencyId",
          "equipmentUomId",
          "equipmentCurrencyId",
          "supplierFacilityId",
          "supplierCompanyId",
          "isDeleted"
        ]
      },
      "SupplierPurchaseRequestLineItemLite": {
        "type": "object",
        "description": "Compact purchase request line item, embedded in purchase order line items.",
        "properties": {
          "id": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "status": {
            "type": "string",
            "enum": [
              "requested",
              "denied",
              "cancelled",
              "approved",
              "orderInProgress",
              "ordered",
              "partially_ordered",
              "fulfilled",
              "partially_fulfilled"
            ]
          },
          "supplierPurchaseRequestId": {
            "type": "integer",
            "format": "int64"
          },
          "supplierPurchaseRequest": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SupplierPurchaseRequestLite"
              },
              {
                "type": "null"
              }
            ]
          },
          "stockLocationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "locationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "isEquipmentLine": {
            "type": "boolean"
          },
          "partId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "part": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Part"
              },
              {
                "type": "null"
              }
            ]
          },
          "partCatalogId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "partCatalog": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated part catalog (abridged)."
          },
          "partQuantity": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "partUomId": {
            "type": "integer",
            "format": "int32"
          },
          "partUom": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated unit of measure (abridged)."
          },
          "partUnitCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "partCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "partCurrencyId": {
            "type": "string"
          },
          "partCurrency": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated currency (abridged)."
          },
          "equipmentTypeId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "equipmentType": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/EquipmentType"
              },
              {
                "type": "null"
              }
            ]
          },
          "equipmentCatalogId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "equipmentCatalog": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated equipment catalog (abridged)."
          },
          "equipmentQuantity": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "equipmentUomId": {
            "type": "integer",
            "format": "int32"
          },
          "equipmentUom": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated unit of measure (abridged)."
          },
          "equipmentUnitCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "equipmentCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "equipmentCurrencyId": {
            "type": "string"
          },
          "equipmentCurrency": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated currency (abridged)."
          },
          "stockLocation": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StockLocation"
              },
              {
                "type": "null"
              }
            ]
          },
          "location": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated location (abridged)."
          },
          "supplierFacilityId": {
            "type": "integer",
            "format": "int32"
          },
          "supplierFacility": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated supplier facility (abridged)."
          },
          "supplierCompanyId": {
            "type": "integer",
            "format": "int32"
          },
          "supplierCompany": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated supplier company (abridged)."
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          }
        },
        "required": [
          "status",
          "supplierPurchaseRequestId",
          "isEquipmentLine",
          "partUomId",
          "partCurrencyId",
          "equipmentUomId",
          "equipmentCurrencyId",
          "supplierFacilityId",
          "supplierCompanyId",
          "isDeleted"
        ]
      },
      "SupplierPurchaseOrderIncomingLineItem": {
        "type": "object",
        "description": "Incoming (write-side) purchase order line item.",
        "properties": {
          "id": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "new",
              "ordered",
              "received",
              "partially_received",
              "cancelled",
              "closed",
              null
            ]
          },
          "isEquipmentLine": {
            "type": "boolean"
          },
          "viaStockLocationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "partId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "partCatalogId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "partQuantity": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "partUomId": {
            "type": "integer",
            "format": "int32"
          },
          "partCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "partCurrencyId": {
            "type": "string"
          },
          "equipmentTypeId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "equipmentCatalogId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "equipmentQuantity": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "equipmentUomId": {
            "type": "integer",
            "format": "int32"
          },
          "equipmentCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "equipmentCurrencyId": {
            "type": "string"
          },
          "prLineItemIds": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Purchase request line item ids fulfilled by this PO line"
          },
          "warrantyAssetId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "glCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          }
        },
        "required": [
          "isEquipmentLine",
          "partUomId",
          "partCurrencyId",
          "equipmentUomId",
          "equipmentCurrencyId"
        ]
      },
      "SupplierPurchaseOrderLite": {
        "type": "object",
        "description": "Compact representation of a purchase order, embedded in line items.",
        "properties": {
          "id": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "purchaseOrderUniqueId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "purchaseOrderUniqueIdWithPrefix": {
            "type": [
              "string",
              "null"
            ]
          },
          "purchaseOrderCustomIdentifier": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "ordered",
              "received",
              "cancelled",
              "closed",
              "partially_received"
            ]
          },
          "paymentTerms": {
            "type": [
              "string",
              "null"
            ]
          },
          "shippingTerms": {
            "type": [
              "string",
              "null"
            ]
          },
          "partEquipmentVendorId": {
            "type": "integer",
            "format": "int32"
          },
          "stockLocationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "stockLocation": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StockLocation"
              },
              {
                "type": "null"
              }
            ]
          },
          "locationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "location": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated location (abridged)."
          },
          "brandId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "freightTotalBeforeTax": {
            "type": [
              "number",
              "null"
            ]
          },
          "miscTotalBeforeTax": {
            "type": [
              "number",
              "null"
            ]
          },
          "totalBeforeTax": {
            "type": [
              "number",
              "null"
            ]
          },
          "tax": {
            "type": [
              "number",
              "null"
            ]
          },
          "totalCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "actualCost": {
            "type": [
              "number",
              "null"
            ]
          },
          "currencyId": {
            "type": "string"
          },
          "partIds": {
            "type": [
              "string",
              "null"
            ]
          },
          "equipmentTypeIds": {
            "type": [
              "string",
              "null"
            ]
          },
          "purchaseRequestIds": {
            "type": [
              "string",
              "null"
            ]
          },
          "supplierFacilityId": {
            "type": "integer",
            "format": "int32"
          },
          "supplierCompanyId": {
            "type": "integer",
            "format": "int32"
          },
          "createdByEmail": {
            "type": "string"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "ISO 8601 date (yyyy-MM-dd)"
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          }
        },
        "required": [
          "status",
          "partEquipmentVendorId",
          "currencyId",
          "supplierFacilityId",
          "supplierCompanyId",
          "createdByEmail",
          "isDeleted"
        ]
      },
      "SupplierPurchaseOrder": {
        "type": "object",
        "description": "A supplier inventory purchase order (PO).",
        "properties": {
          "id": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "purchaseOrderUniqueId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Sequential PO number unique within the supplier company"
          },
          "purchaseOrderUniqueIdWithPrefix": {
            "type": [
              "string",
              "null"
            ],
            "description": "PO number rendered with the stock location's purchase order prefix"
          },
          "purchaseOrderCustomIdentifier": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "ordered",
              "received",
              "cancelled",
              "closed",
              "partially_received"
            ]
          },
          "paymentTerms": {
            "type": [
              "string",
              "null"
            ]
          },
          "shippingTerms": {
            "type": [
              "string",
              "null"
            ]
          },
          "partEquipmentVendorId": {
            "type": "integer",
            "format": "int32"
          },
          "partEquipmentVendor": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PartEquipmentVendor"
              },
              {
                "type": "null"
              }
            ]
          },
          "stockLocationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "stockLocation": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StockLocation"
              },
              {
                "type": "null"
              }
            ]
          },
          "locationId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          },
          "location": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated location (abridged)."
          },
          "brandId": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "brand": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AbridgedEntity"
              },
              {
                "type": "null"
              }
            ],
            "description": "Hydrated brand (abridged)."
          },
[...]
