{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenWrench Supplier API",
    "version": "1.0.0",
    "description": "External REST API for OpenWrench suppliers (service providers).\n\n## Authentication\nEvery request must carry a supplier API key in the `X-API-KEY` header. The key resolves to a supplier contact; all reads and writes are tenant-scoped to that contact's supplier facility/company. Missing or invalid keys are answered with 401.\n\n## Rate limiting\n10 requests per 20-second window per API key. Requests beyond that are answered with 429 and the standard error envelope. (A few endpoints, noted in their descriptions, are not rate-limited.)\n\n## Response envelope\nSingle entity: `{\"type\": \"<EntityName>\", \"data\": {...}, \"status\": \"ok\"}`. Lists: `{\"type\": \"<EntityName>\", \"data\": [...], \"count\": <total>, \"status\": \"ok\"}`. count_by endpoints return the integer count in `data`. The `type` label is hard-coded on some endpoints (e.g. \"WorkOrderNotes\", \"pingpong\") and derived via Scala reflection on generic CRUD endpoints, where it may appear as the fully qualified server class name - treat it as informational. Errors: `{\"message\": \"...\", \"type\": \"<ExceptionType>\", \"status\": \"error\", \"traceId\": \"...\"}` with HTTP 400 (bad input, and also permission-denied reads/writes), 401 (missing/invalid key), 404 (not found), 429 (rate limit).\n\n## Pagination\nList endpoints accept `offset`, `limit` (default 10, max 25 - the supplier locations list caps at 10), `sort_by` and `order` (`asc`|`desc`), plus entity-specific query-string filters on indexed columns.\n\n## Data masking\nFor third-party suppliers (keys whose supplier company is not a buyer's internal service team), work order, location and invoice responses are masked: buyer-private fields are blanked before the response is returned.\n\n## Date formats\nDate-time fields serialize as strings in one of two shapes depending on the underlying type: ISO 8601 with offset (e.g. `2026-08-14T13:05:22.000-07:00`) for most timestamps, or `yyyy-MM-dd HH:mm:ss.S` (space-separated, no offset) for database timestamp fields. Plain dates are `yyyy-MM-dd`. When sending date-times, ISO 8601 is accepted.\n\n## Required headers\nEvery request must carry BOTH `X-API-KEY` (your API key) and `OW-KEY` (the OpenWrench shared secret issued with it). Requests missing either return 401."
  },
  "servers": [
    {
      "url": "https://api.useopenwrench.com/api/external"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "OwKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Ping"
    },
    {
      "name": "Buyer Companies"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Regions"
    },
    {
      "name": "Asset Types"
    },
    {
      "name": "Assets"
    },
    {
      "name": "Work Orders"
    },
    {
      "name": "Service Calls"
    },
    {
      "name": "WrenchMode",
      "description": "Read-only WrenchMode work logs and technician time analytics"
    },
    {
      "name": "Proposals"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Files"
    },
    {
      "name": "Purchase Requests"
    },
    {
      "name": "Purchase Orders"
    },
    {
      "name": "Purchase Order Receipts"
    },
    {
      "name": "Parts"
    },
    {
      "name": "Equipment Types"
    },
    {
      "name": "Stock Location Inventory"
    },
    {
      "name": "Vendors"
    },
    {
      "name": "Users"
    }
  ],
  "paths": {
    "/v1/supplier/ping": {
      "get": {
        "operationId": "pingSupplier",
        "summary": "Ping (supplier key check)",
        "description": "Verifies the supplier API key. Returns {\"type\":\"pingpong\",\"data\":\"pong\",\"status\":\"ok\"}. Note: this endpoint is authenticated but NOT rate-limited.",
        "tags": [
          "Ping"
        ],
        "responses": {
          "200": {
            "description": "Pong response: type \"pingpong\", data \"pong\"",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/supplier/buyer_company/buyer_companies": {
      "get": {
        "operationId": "listBuyerCompanies",
        "summary": "List buyer companies related to the supplier",
        "description": "Returns the buyer companies that have a buyer-supplier relationship with the API key's supplier. No pagination or filter parameters are honoured (the full tenant-scoped set is returned); each company's buyerCompanySettings is stripped (null).",
        "tags": [
          "Buyer Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyerCompanyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/supplier/location/locations/count_by": {
      "get": {
        "operationId": "countLocations",
        "summary": "Count locations",
        "description": "Counts locations visible to the supplier key. Accepts the same query-string filters as the list endpoint. Additional entity-specific query-string filters (indexed column names) are passed through to the data layer; tenant-security filters restricting results to the API key's supplier facility/company are always applied server-side and cannot be overridden.",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/supplier/location/locations": {
      "get": {
        "operationId": "listLocations",
        "summary": "List locations",
        "description": "Lists locations visible to the supplier key. NOTE: on this endpoint the page size is capped at 10 (a larger limit is silently reduced to 10). For third-party suppliers each location is masked (buyer-private fields blanked); internal-service-team keys receive the full record. Additional entity-specific query-string filters (indexed column names) are passed through to the data layer; tenant-security filters restricting results to the API key's supplier facility/company are always applied server-side and cannot be overridden.",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Number of records to skip."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size. Default 10; values above 10 are reduced to 10 on this endpoint."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Column name to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction."
          }
        ]
      }
    },
    "/v1/supplier/location/locations/{id}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get a location",
        "description": "Retrieves one location by id, subject to read permission. Masked for third-party suppliers.",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entity not found (or not visible to this API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Location id"
          }
        ]
      }
    },
    "/v1/supplier/location/locations/multiple/{ids}": {
      "get": {
        "operationId": "getLocationsByIds",
        "summary": "Get multiple locations by ids",
        "description": "Retrieves several locations at once. ids is a comma-separated list of numeric location ids; ids the key has no read permission for are silently dropped. Response count equals the number of returned records.",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated location ids, e.g. 1,2,3"
          }
        ]
      }
    },
    "/v1/supplier/location/regions": {
      "get": {
        "operationId": "listRegions",
        "summary": "List regions",
        "description": "Lists the buyer-company regions visible to the supplier key. Standard pagination applies. Additional entity-specific query-string filters (indexed column names) are passed through to the data layer; tenant-security filters restricting results to the API key's supplier facility/company are always applied server-side and cannot be overridden.",
        "tags": [
          "Regions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Number of records to skip."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size. Default 10, maximum 25."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Column name to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction."
          }
        ]
      }
    },
    "/v1/supplier/location/regions/{id}": {
      "get": {
        "operationId": "getRegion",
        "summary": "Get a region",
        "description": "Retrieves one region by id, subject to read permission.",
        "tags": [
          "Regions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entity not found (or not visible to this API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Region id"
          }
        ]
      }
    },
    "/v1/supplier/asset/asset_types": {
      "get": {
        "operationId": "listAssetTypes",
        "summary": "List asset types",
        "description": "Lists asset types visible to the supplier key. Standard pagination applies. Additional entity-specific query-string filters (indexed column names) are passed through to the data layer; tenant-security filters restricting results to the API key's supplier facility/company are always applied server-side and cannot be overridden.",
        "tags": [
          "Asset Types"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetTypeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Number of records to skip."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size. Default 10, maximum 25."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Column name to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction."
          }
        ]
      }
    },
    "/v1/supplier/asset/asset_types/{id}": {
      "get": {
        "operationId": "getAssetType",
        "summary": "Get an asset type",
        "description": "Retrieves one asset type by id, subject to read permission.",
        "tags": [
          "Asset Types"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetTypeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entity not found (or not visible to this API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Asset type id"
          }
        ]
      }
    },
    "/v1/supplier/asset/assets": {
      "get": {
        "operationId": "listAssets",
        "summary": "List assets",
        "description": "Lists assets visible to the supplier key. Standard pagination applies. Additional entity-specific query-string filters (indexed column names) are passed through to the data layer; tenant-security filters restricting results to the API key's supplier facility/company are always applied server-side and cannot be overridden.",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Number of records to skip."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size. Default 10, maximum 25."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Column name to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction."
          }
        ]
      }
    },
    "/v1/supplier/asset/assets/{id}": {
      "get": {
        "operationId": "getAsset",
        "summary": "Get an asset",
        "description": "Retrieves one asset by id, subject to read permission. The envelope type is \"ApiAssetWithMeter\".",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entity not found (or not visible to this API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Asset id"
          }
        ]
      }
    },
    "/v1/supplier/work_order/work_orders": {
      "post": {
        "operationId": "createWorkOrder",
        "summary": "Create a work order",
        "description": "Creates a supplier-initiated work order. Requires the API key's contact to belong to a supplier facility. locationId is required; problemTypeId and woPriorityId are defaulted from the location's buyer company when omitted. Returns the created work order.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "REQUIRED"
                  },
                  "locationId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "REQUIRED. The buyer location the work order is for; also determines the server-set buyerFacilityId and buyerCompanyId."
                  },
                  "problemTypeId": {
                    "type": "integer",
                    "description": "Optional; when omitted the first leaf problem type of the location's buyer company is used. Must reference an existing problem type."
                  },
                  "woPriorityId": {
                    "type": "integer",
                    "description": "Optional; when omitted a default priority for the buyer company is chosen (preference order 3,4,5,2,1, following linkedTo mappings)."
                  },
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Existing work order id (update semantics); the referenced work order must exist."
                  },
                  "woNumber": {
                    "type": "string"
                  },
                  "poNumber": {
                    "type": "string"
                  },
                  "buyerProjectIds": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "isPM": {
                    "type": "boolean"
                  },
                  "isCapex": {
                    "type": "boolean"
                  },
                  "isStale": {
                    "type": "boolean"
                  },
                  "isSupplierInitiated": {
                    "type": "boolean"
                  },
                  "isCustomerInitiated": {
                    "type": "boolean"
                  },
                  "isWarranty": {
                    "type": "boolean"
                  },
                  "status": {
                    "type": "string",
                    "description": "Work-order status name; when omitted, the initial status is derived from the buyer company's configuration (typically Unassigned/PendingApproval). Invalid names are rejected."
                  },
                  "description": {
                    "type": "string"
                  },
                  "assetId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Must reference an existing asset; its areaId is inherited when areaId is not given"
                  },
                  "subAssetIds": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "isAssetDown": {
                    "type": "boolean",
                    "description": "Default false"
                  },
                  "areaId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "workCategoryId": {
                    "type": "integer"
                  },
                  "needApproval": {
                    "type": "boolean",
                    "description": "NOTE: the key is needApproval (no 's')"
                  },
                  "requiresSignature": {
                    "type": "boolean"
                  },
                  "approvalRequiredFrom": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": true
                    },
                    "description": "ApprovalRequirement objects"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "parts": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "description": "Part ids (mapped to the work order's partIds)"
                  },
                  "skipSupplier": {
                    "type": "boolean"
                  },
                  "contractorDetails": {
                    "type": "object",
                    "properties": {},
                    "description": "ContractorDetails object",
                    "additionalProperties": true
                  },
                  "assignmentChanges": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": true
                    },
                    "description": "AssignmentChange objects"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 date-time"
                  },
                  "estimatedCompletionDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 date-time"
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 date-time"
                  },
                  "price": {
                    "type": "number"
                  },
                  "currencyId": {
                    "type": "string"
                  },
                  "terms": {
                    "type": "string"
                  },
                  "nte": {
                    "type": "number"
                  },
                  "nteInLocationCurrency": {
                    "type": "number"
                  },
                  "locationCurrencyId": {
                    "type": "string"
                  },
                  "currencyExchangeRateLocationToSupplier": {
                    "type": "number"
                  },
                  "currencyExchangeRateBuyerToLocation": {
                    "type": "number"
                  },
                  "statusChanges": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": true
                    },
                    "description": "StatusChange objects"
                  },
                  "submittedByName": {
                    "type": "string"
                  },
                  "hasBuyerArchived": {
                    "type": "boolean"
                  },
                  "hasSupplierArchived": {
                    "type": "boolean"
                  },
                  "buyerAttachments": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FileDetails"
                    }
                  },
                  "supplierAttachments": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FileDetails"
                    }
                  },
                  "fromRequestPortal": {
                    "type": "boolean"
                  },
                  "fromClientPortal": {
                    "type": "boolean"
                  },
                  "forcePendingStatusOnCreateFromPortal": {
                    "type": "boolean"
                  },
                  "resolutionTypeId": {
                    "type": "integer"
                  },
                  "plannedMaintenanceScheduleId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "taskCompletionMandatory": {
                    "type": "boolean"
                  },
                  "isPrivate": {
                    "type": "boolean"
                  },
                  "walkThroughId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Must be set together with siteSurveyTaskTitleId"
                  },
                  "siteSurveyTaskTitleId": {
                    "type": "string",
                    "description": "Must be set together with walkThroughId"
                  },
                  "includeWalkthroughTaskList": {
                    "type": "boolean"
                  },
                  "supplierPrimaryContactEmail": {
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "locationId"
                ],
                "description": "Work-order create payload (verified against the shared work-order constructor). createdBy, supplierFacilityId, buyerFacilityId and buyerCompanyId are always overwritten server-side from the API key and the location - caller-supplied values for them are ignored. Unknown fields are ignored."
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listWorkOrders",
        "summary": "List work orders",
        "description": "Lists work orders visible to the supplier key (served from a read replica). For third-party suppliers each work order is masked (buyer-private fields blanked); internal-service-team keys receive full records. Additional entity-specific query-string filters (indexed column names) are passed through to the data layer; tenant-security filters restricting results to the API key's supplier facility/company are always applied server-side and cannot be overridden.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Number of records to skip."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page size. Default 10, maximum 25."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Column name to sort by."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction."
          }
        ]
      }
    },
    "/v1/supplier/work_order/work_orders/count_by": {
      "get": {
        "operationId": "countWorkOrders",
        "summary": "Count work orders",
        "description": "Counts work orders visible to the supplier key (read replica). Accepts the same query-string filters as the list endpoint. Additional entity-specific query-string filters (indexed column names) are passed through to the data layer; tenant-security filters restricting results to the API key's supplier facility/company are always applied server-side and cannot be overridden.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/work_orders/{id}": {
      "get": {
        "operationId": "getWorkOrder",
        "summary": "Get a work order",
        "description": "Retrieves one work order by id, subject to read permission (read replica). Masked for third-party suppliers.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entity not found (or not visible to this API key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Work order id"
          }
        ]
      }
    },
    "/v1/supplier/work_order/work_orders/{id}/estimated_completion_date": {
      "patch": {
        "operationId": "updateWorkOrderEstimatedCompletionDate",
        "summary": "Update a work order's estimated completion date",
        "description": "Sets estimatedCompletionDate on the work order. The body's estimatedCompletionDate is parsed as an ISO 8601 date-time; only this field is read from the body.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Work order id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "estimatedCompletionDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 date-time, required"
                  }
                },
                "required": [
                  "estimatedCompletionDate"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/work_orders/{id}/append_supplier_attachments": {
      "patch": {
        "operationId": "appendWorkOrderSupplierAttachments",
        "summary": "Append supplier attachments to a work order",
        "description": "Appends the given file references to the work order's supplierAttachments. Only the supplierAttachments field is read from the body; existing attachments are preserved.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Work order id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "supplierAttachments": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FileDetails"
                    },
                    "description": "File references (as returned by the file upload endpoint), required"
                  }
                },
                "required": [
                  "supplierAttachments"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/work_orders/append_notes": {
      "patch": {
        "operationId": "appendWorkOrderNotes",
        "summary": "Append a note to a work order",
        "description": "Appends a note to the work order's buyer-supplier note thread and sends note notifications. Returns the updated work order.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Work order id (required; must exist)"
                  },
                  "note": {
                    "$ref": "#/components/schemas/Note"
                  }
                },
                "required": [
                  "id"
                ],
                "description": "Verified payload: the work order id plus a single optional note object. note.text and note.noteAddedBy are the meaningful fields; noteAddedAt is overwritten with the server's current time, and the author's email is added to the work order's supplier subscriber list."
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/work_orders/append_notes/bulk": {
      "patch": {
        "operationId": "bulkAppendWorkOrderNotes",
        "summary": "Append photo notes to a work order in bulk",
        "description": "Appends up to 25 photo-only notes to the work order's buyer-supplier note thread in one call and sends a single grouped notification instead of one notification per photo. Each note must carry a photo URL and no other content (empty text, no video, audio, otherFile, or elements), and the same photo URL cannot appear twice in one request. Returns the updated work order.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failure: notes is empty, has more than 25 entries, contains a note that is not photo-only, repeats a photo URL, or the payload could not be parsed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Work order id (required; must exist)"
                  },
                  "notes": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Note"
                    },
                    "minItems": 1,
                    "maxItems": 25,
                    "description": "Photo-only notes to append, in the order they should appear on the thread. Each entry must set photo and leave every other content field empty; photo URLs must be unique within the request."
                  }
                },
                "required": [
                  "id",
                  "notes"
                ],
                "description": "The work order id plus 1-25 photo-only notes. Every note's noteAddedBy is set to the calling contact and noteAddedAt is overwritten with the server's current time; the author's email is added to the work order's supplier subscriber list."
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/work_order_notes/{woId}": {
      "get": {
        "operationId": "getWorkOrderNotes",
        "summary": "Get a work order's notes",
        "description": "Returns the work order's buyer-supplier notes and marks them read for the calling contact (read receipts updated). Envelope type is \"WorkOrderNotes\". A denied read returns an empty list rather than an error.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "woId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Work order id"
          }
        ]
      }
    },
    "/v1/supplier/work_order/work_orders/status_update/confirm": {
      "post": {
        "operationId": "updateWorkOrderStatusToConfirmed",
        "summary": "Work order status update: confirm",
        "description": "Sets the work order status to ConfirmedByServiceProvider and sends note notifications. A work order already in a completed/closed display status cannot be accepted (400). Returns the updated work order.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Work order id (required; must exist)"
                  },
                  "note": {
                    "$ref": "#/components/schemas/Note"
                  }
                },
                "required": [
                  "id"
                ],
                "description": "Verified payload: the work order id plus a single optional note object appended to the work order's notes with the status change."
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/work_orders/status_update/decline": {
      "post": {
        "operationId": "updateWorkOrderStatusToDeclined",
        "summary": "Work order status update: decline",
        "description": "Declines the work order as the supplier. Only contacts of the work order's assigned supplier facility may decline. The work order is unassigned/reassigned via the supplier-change flow (status returns to PendingApproval or a private-network supplier is auto-picked), the optional note's text is recorded as the decline reason, and buyer-facing notification copy reflects the decline. Returns the updated work order.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Work order id (required; must exist)"
                  },
                  "note": {
                    "$ref": "#/components/schemas/Note"
                  }
                },
                "required": [
                  "id"
                ],
                "description": "Verified payload: the work order id plus a single optional note object appended to the work order's notes with the status change."
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/work_orders/status_update/parts_requested": {
      "post": {
        "operationId": "updateWorkOrderStatusToPartsRequested",
        "summary": "Work order status update: parts requested",
        "description": "Sets the work order status to PartsRequested and sends note notifications. Returns the updated work order.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Work order id (required; must exist)"
                  },
                  "note": {
                    "$ref": "#/components/schemas/Note"
                  }
                },
                "required": [
                  "id"
                ],
                "description": "Verified payload: the work order id plus a single optional note object appended to the work order's notes with the status change."
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/work_orders/status_update/parts_received": {
      "post": {
        "operationId": "updateWorkOrderStatusToPartsReceived",
        "summary": "Work order status update: parts received",
        "description": "Sets the work order status to PartsReceived and sends note notifications. Returns the updated work order.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Work order id (required; must exist)"
                  },
                  "note": {
                    "$ref": "#/components/schemas/Note"
                  }
                },
                "required": [
                  "id"
                ],
                "description": "Verified payload: the work order id plus a single optional note object appended to the work order's notes with the status change."
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/work_orders/status_update/parts_ordered": {
      "post": {
        "operationId": "updateWorkOrderStatusToPartsOrdered",
        "summary": "Work order status update: parts ordered",
        "description": "Sets the work order status to PartsOnOrder and sends note notifications. Returns the updated work order.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Work order id (required; must exist)"
                  },
                  "note": {
                    "$ref": "#/components/schemas/Note"
                  }
                },
                "required": [
                  "id"
                ],
                "description": "Verified payload: the work order id plus a single optional note object appended to the work order's notes with the status change."
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/problem_types": {
      "get": {
        "operationId": "listProblemTypes",
        "summary": "List problem types",
        "description": "Lists the problem types available to the supplier (across its related buyer companies). Not rate-limited, unlike most endpoints.",
        "tags": [
          "Work Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemTypeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/service_calls/status_update/tech_scheduled": {
      "post": {
        "operationId": "serviceCallTechScheduled",
        "summary": "Service call status update: tech scheduled",
        "description": "Creates/updates a service call assigning technician(s). The work order status becomes TechScheduled when serviceScheduledAt is present in the body, otherwise TechAssigned. On success the ASSOCIATED WORK ORDER (not the service call) is returned with its status updated. When the resulting status is WorkReviewedAndCompleted, invoice auto-publishing rules may run. For third-party suppliers whose buyer company has autoApproveWorkOrdersCompletedByThirdParty enabled, a WaitingForReview outcome is auto-promoted to WorkReviewedAndCompleted.",
        "tags": [
          "Service Calls"
        ],
        "responses": {
          "200": {
            "description": "The associated work order, with its status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workOrderId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "REQUIRED. Work order the service call belongs to; must exist."
                  },
                  "numberOfTechs": {
                    "type": "integer",
                    "description": "REQUIRED. Number of technicians."
                  },
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Service call id, when updating an existing call"
                  },
                  "leadTechnicianEmail": {
                    "type": "string"
                  },
                  "additionalTechnicianEmails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "stockLocationIds": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "partsWithQuantity": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": true
                    },
                    "description": "Part/quantity objects"
                  },
                  "equipmentPerStockLocationIds": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "supplierFacilityId": {
                    "type": "integer",
                    "description": "Required for internal-service-team keys; for third-party suppliers it is overwritten with the API key's own facility id."
                  },
                  "serviceScheduledAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 date-time"
                  },
                  "checkInByEmail": {
                    "type": "string"
                  },
                  "checkInStatus": {
                    "type": "string"
                  },
                  "checkInTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Defaults to now when checkInStatus is set without a time"
                  },
                  "checkInNotes": {
                    "type": "string"
                  },
                  "checkInImages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "checkInGeoLocation": {
                    "$ref": "#/components/schemas/ServiceLatLong"
                  },
                  "checkOutByEmail": {
                    "type": "string"
                  },
                  "checkOutStatus": {
                    "type": "string"
                  },
                  "checkOutTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Defaults to now when checkOutStatus is set without a time"
                  },
                  "checkOutNotes": {
                    "type": "string"
                  },
                  "checkOutImages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "checkOutGeoLocation": {
                    "$ref": "#/components/schemas/ServiceLatLong"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 date-time"
                  }
                },
                "required": [
                  "workOrderId",
                  "numberOfTechs"
                ],
                "description": "Service-call payload parsed by the shared service-call constructor. locationId, buyerFacilityId and buyerCompanyId are derived from the work order.",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/service_calls/status_update/tech_rescheduled": {
      "post": {
        "operationId": "serviceCallTechRescheduled",
        "summary": "Service call status update: tech rescheduled",
        "description": "Reschedules a service call. The work order status becomes TechRescheduled when serviceScheduledAt is present, otherwise TechAssigned. On success the ASSOCIATED WORK ORDER (not the service call) is returned with its status updated. When the resulting status is WorkReviewedAndCompleted, invoice auto-publishing rules may run. For third-party suppliers whose buyer company has autoApproveWorkOrdersCompletedByThirdParty enabled, a WaitingForReview outcome is auto-promoted to WorkReviewedAndCompleted.",
        "tags": [
          "Service Calls"
        ],
        "responses": {
          "200": {
            "description": "The associated work order, with its status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workOrderId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "REQUIRED. Work order the service call belongs to; must exist."
                  },
                  "numberOfTechs": {
                    "type": "integer",
                    "description": "REQUIRED. Number of technicians."
                  },
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Service call id, when updating an existing call"
                  },
                  "leadTechnicianEmail": {
                    "type": "string"
                  },
                  "additionalTechnicianEmails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "stockLocationIds": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "partsWithQuantity": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": true
                    },
                    "description": "Part/quantity objects"
                  },
                  "equipmentPerStockLocationIds": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "supplierFacilityId": {
                    "type": "integer",
                    "description": "Required for internal-service-team keys; for third-party suppliers it is overwritten with the API key's own facility id."
                  },
                  "serviceScheduledAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 date-time"
                  },
                  "checkInByEmail": {
                    "type": "string"
                  },
                  "checkInStatus": {
                    "type": "string"
                  },
                  "checkInTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Defaults to now when checkInStatus is set without a time"
                  },
                  "checkInNotes": {
                    "type": "string"
                  },
                  "checkInImages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "checkInGeoLocation": {
                    "$ref": "#/components/schemas/ServiceLatLong"
                  },
                  "checkOutByEmail": {
                    "type": "string"
                  },
                  "checkOutStatus": {
                    "type": "string"
                  },
                  "checkOutTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Defaults to now when checkOutStatus is set without a time"
                  },
                  "checkOutNotes": {
                    "type": "string"
                  },
                  "checkOutImages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "checkOutGeoLocation": {
                    "$ref": "#/components/schemas/ServiceLatLong"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 date-time"
                  }
                },
                "required": [
                  "workOrderId",
                  "numberOfTechs"
                ],
                "description": "Service-call payload parsed by the shared service-call constructor. locationId, buyerFacilityId and buyerCompanyId are derived from the work order.",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/service_calls/status_update/check_in": {
      "post": {
        "operationId": "serviceCallCheckIn",
        "summary": "Service call status update: check in",
        "description": "Records an on-site check-in on the service call; the work order status becomes TechWorkingOnSite. On success the ASSOCIATED WORK ORDER (not the service call) is returned with its status updated. When the resulting status is WorkReviewedAndCompleted, invoice auto-publishing rules may run. For third-party suppliers whose buyer company has autoApproveWorkOrdersCompletedByThirdParty enabled, a WaitingForReview outcome is auto-promoted to WorkReviewedAndCompleted.",
        "tags": [
          "Service Calls"
        ],
        "responses": {
          "200": {
            "description": "The associated work order, with its status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workOrderId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "REQUIRED. Work order the service call belongs to; must exist."
                  },
                  "numberOfTechs": {
                    "type": "integer",
                    "description": "REQUIRED. Number of technicians."
                  },
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Service call id, when updating an existing call"
                  },
                  "leadTechnicianEmail": {
                    "type": "string"
                  },
                  "additionalTechnicianEmails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "stockLocationIds": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "partsWithQuantity": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": true
                    },
                    "description": "Part/quantity objects"
                  },
                  "equipmentPerStockLocationIds": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "supplierFacilityId": {
                    "type": "integer",
                    "description": "Required for internal-service-team keys; for third-party suppliers it is overwritten with the API key's own facility id."
                  },
                  "serviceScheduledAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 date-time"
                  },
                  "checkInByEmail": {
                    "type": "string"
                  },
                  "checkInStatus": {
                    "type": "string"
                  },
                  "checkInTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Defaults to now when checkInStatus is set without a time"
                  },
                  "checkInNotes": {
                    "type": "string"
                  },
                  "checkInImages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "checkInGeoLocation": {
                    "$ref": "#/components/schemas/ServiceLatLong"
                  },
                  "checkOutByEmail": {
                    "type": "string"
                  },
                  "checkOutStatus": {
                    "type": "string"
                  },
                  "checkOutTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Defaults to now when checkOutStatus is set without a time"
                  },
                  "checkOutNotes": {
                    "type": "string"
                  },
                  "checkOutImages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "checkOutGeoLocation": {
                    "$ref": "#/components/schemas/ServiceLatLong"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 date-time"
                  }
                },
                "required": [
                  "workOrderId",
                  "numberOfTechs"
                ],
                "description": "Service-call payload parsed by the shared service-call constructor. locationId, buyerFacilityId and buyerCompanyId are derived from the work order.",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/v1/supplier/work_order/service_calls/status_update/check_out": {
      "post": {
        "operationId": "serviceCallCheckOut",
        "summary": "Service call status update: check out",
        "description": "Records an on-site check-out. The body's checkOutStatus (REQUIRED) must be a valid work-order status name and becomes the work order's new status. On success the ASSOCIATED WORK ORDER (not the service call) is returned with its status updated. When the resulting status is WorkReviewedAndCompleted, invoice auto-publishing rules may run. For third-party suppliers whose buyer company has autoApproveWorkOrdersCompletedByThirdParty enabled, a WaitingForReview outcome is auto-promoted to WorkReviewedAndCompleted.",
        "tags": [
          "Service Calls"
        ],
        "responses": {
          "200": {
            "description": "The associated work order, with its status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad input, validation failure, or the API key's contact could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid X-API-KEY",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (10 requests per 20-second window)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workOrderId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "REQUIRED. Work order the service call belongs to; must exist."
                  },
                  "numberOfTechs": {
                    "type": "integer",
                    "description": "REQUIRED. Number of technicians."
                  },
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Service call id, when updating an existing call"
                  },
                  "leadTechnicianEmail": {
                    "type": "string"
                  },
                  "additionalTechnicianEmails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "stockLocationIds": {
                    "type": "array",
                    "items": {
[...]
